.hide-cursor {
  cursor: none !important;
}

.title-animated {
  background: radial-gradient(ellipse at bottom, #fff, transparent, transparent) no-repeat;
  background-position: 50% 100%;
  background-size: 50% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4em;
}

.title-animated.animate {
  animation: reveal 2000ms ease-in-out forwards 200ms, 
             glow 2500ms linear infinite 2000ms;
}

.h1-section {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.section {
  background: black;
  height: 150vh;
  width: 100%;
  position: absolute;
  top: 330vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.second-section {
  color: white;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}

.href-section {
  color: white;
  text-decoration: none ;
  display: flex;
  align-items: center;
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@media (max-width: 769px) {
  .title-animated  {
      font-size: 2em;
  }
  .section {
    background: white;
    height: 50vh;
    top: 430vh;
  }
}