
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 500;
  box-sizing: border-box;
  overflow: hidden;
  height: 5em;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-width: 40%;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.navbar-title {
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
}

.navbar-right {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  max-width: 40%;
}

.navbar-link {
  color: #747070;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s;
  white-space: nowrap;
}

.navbar-link span {
  transition: .5s linear
}

.navbar-link:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
}

@media (max-width: 769px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 6rem;
  }
  .navbar-right {
    width: 100%;
    justify-content: space-evenly;

  }
  .navbar-left {
    gap: 1.5rem;
    max-width: 100%;
  }
  .navbar-name {
    font-size: 1rem;
  }
  .navbar-link {
    font-size: 1.2rem;
  }
  
  .navbar-title {
    font-size: 0.8rem;
  }
}

