
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

*{
  list-style: none;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html  {
  scroll-behavior: smooth;
}

main {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

#app { /* ou le sélecteur approprié pour votre conteneur principal */
  overflow-y: auto; /* Permettre le défilement vertical */
  min-height: 610vh; /* Utiliser 100vh pour utiliser toute la hauteur de la fenêtre */
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.element {
  cursor: none; /* Masque le curseur de la souris */
  /* scrollbar-width: none; */
}

.loadpage {
  position: absolute;
  z-index: 9999;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

